body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

.starting-content {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    height: 65vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

ul {
    list-style-type: none;
    padding-right: 18px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #e5e7eb;
    font-size: 18px;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 15px;
    margin-left: 180px;
    margin-bottom: 15px;
}

.main {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 65px;
}

.title {
    width: 450px;
    padding-right: 100px;
}

.image {
    width: 550px;
    height: 300px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
}

.image p {
    color: white;
}

.title h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 10px;
}

.title p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
}

button {
    background-color: #3882F6;
    padding: 4px 15px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    width: 120px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    gap: 20px;
    margin-top: 20px;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.images {
    display: flex;
    justify-content: space-between;
    gap: 85px;
}

.each-image div {
    border: 3px solid rgb(83, 127, 208);
    border-radius: 6px;
    width: 150px;
    height: 150px;
}

.each-image p {
    width: 220px;
    text-align: center;
}

.each-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    background-color: #E5E7EB;
    height: 55vh;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

blockquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 55%;
}

blockquote p {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}

blockquote cite {
    font-size: 20px;
    font-weight: 900;
}

.sign-up {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.sign-up .blue-container {
    background-color: rgb(98, 133, 228);
    width: 75%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.text {
    width: 55%;
}

.text .first {
    font-weight: 800;
    font-size: 20px;
}

.blue-container button {
    border: 2px solid white;
    height: 30%;
    padding: 6px 6px;
    font-weight: 700;
}

.footer {
        background-color: #1F2937;
        height: 10vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
}